/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 10px;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}



/* Fonts */
h1 {
	font-family: 'Archivo Black', sans-serif;
	color: #C10027;
	margin-top: 0;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	color: #FC9F1D;
}

h3 {
	font-family: 'Archivo Black', sans-serif;
	color: #765A3C;
}


p {
	font-family: 'Hammersmith One', sans-serif;
	color: #000;
	line-height: 25px;
}


.logo {
	width: 100px;
}
.fedex,
.ibm,
.twitter {
	width: 100px;
	height: 81px;
	margin-bottom: 10px;

}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

/* Colors and Textures */
.color-1 {
	background: #0CC2F5;
}

.color-2 {
	background: #C10027;
}

.color-3 {
	background:  #FC9F1D;
}

.pattern-1 {
	background: url("../img/denim.png");
}

.pattern-2 {
	background: ;
}

.pattern-3 {
	background: ;
}


